form{
    width: 50%;
    margin: 5%;
}

select{
    width: 100%;
    border: none;
    background-color: white;
    padding: 5%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
}