@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    width: 100vw;
}

.main{
    background-color: hsl(0, 0%, 98%);
    height: fit-content;
}

.darkmain{
    background-color: rgb(35, 44, 53) !important;
    color: white;
}

.cardContainer{
    display: grid;
    grid-template-columns: auto;
}

@media only screen and (min-device-width: 500px){
    .cardContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .innercontainer {
        margin: 0 20% !important;
        width: 60% !important;
    }
}